In [1]:
# Importing Packages
# Data Manipulations
import pandas as pd
# Data Caliculations
import numpy as np

In [2]:
# csv files - semistructured data
# Reading csv files
customer = pd.read_csv("C://Customer-360//CUSTOMERS.csv")
geo_location = pd.read_csv("C://Customer-360//GEO_LOCATION.csv")
order_item = pd.read_csv("C://Customer-360//ORDER_ITEMS.csv")
order_payment = pd.read_csv("C://Customer-360//ORDER_PAYMENTS.csv")
order_review_rating = pd.read_csv("C://Customer-360//ORDER_REVIEW_RATINGS.csv")
order = pd.read_csv("C://Customer-360//ORDERS.csv")
product = pd.read_csv("C://Customer-360//PRODUCTS.csv")
seller = pd.read_csv("C://Customer-360//SELLERS.csv")

In [3]:
# Meta Data Inspection
# Dimensions of the dataframes
print(f"The dimensions of the customer dataframe {customer.shape}")
print(f"The dimensions of the geo_location dataframe {geo_location.shape}")
print(f"The dimensions of the order_item dataframe {order_item.shape}")
print(f"The dimensions of the order_payment dataframe {order_payment.shape}")
print(f"The dimensions of the order_review_rating dataframe {order_review_rating.shape}")
print(f"The dimensions of the order dataframe {order.shape}")
print(f"The dimensions of the product dataframe {product.shape}")
print(f"The dimensions of the seller dataframe {seller.shape}")

The dimensions of the customer dataframe (99441, 4)
The dimensions of the geo_location dataframe (19015, 5)
The dimensions of the order_item dataframe (112650, 7)
The dimensions of the order_payment dataframe (103886, 5)
The dimensions of the order_review_rating dataframe (100000, 5)
The dimensions of the order dataframe (99441, 8)
The dimensions of the product dataframe (32951, 9)
The dimensions of the seller dataframe (3095, 4)

In [4]:
# Data Types for each dataframe
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_zip_code_prefix  99441 non-null  int64
 2   customer_city             99441 non-null  object
 3   customer_state            99441 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.0+ MB

In [5]:
geo_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015 entries, 0 to 19014
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   geolocation_zip_code_prefix  19015 non-null  int64
 1   geolocation_lat              19015 non-null  float64
 2   geolocation_lng              19015 non-null  float64
 3   geolocation_city             19015 non-null  object
 4   geolocation_state            19015 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 742.9+ KB

In [6]:
order_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [7]:
order_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [8]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [9]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32328 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [10]:
seller.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3038 non-null   object
 3   seller_state            3038 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [11]:
customer.duplicated().sum()

np.int64(0)

In [12]:
geo_location.duplicated().sum()

np.int64(0)

In [13]:
order_item.duplicated().sum()

np.int64(0)

In [14]:
order_payment.duplicated().sum()

np.int64(0)

In [15]:
order_review_rating.duplicated().sum()

np.int64(0)

In [16]:
order.duplicated().sum()

np.int64(0)

In [17]:
product.duplicated().sum()

np.int64(0)

In [18]:
seller.duplicated().sum()

np.int64(0)

In [19]:
customer.isnull().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [20]:
geo_location.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [21]:
order_item.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [22]:
order_payment.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [23]:
order_review_rating.isnull().sum()

review_id                  0
order_id                   0
review_score               0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [24]:
order.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [25]:
product.isnull().sum()

product_id                      0
product_category_name         623
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [26]:
seller.isnull().sum()

seller_id                  0
seller_zip_code_prefix     0
seller_city               57
seller_state              57
dtype: int64

In [27]:
# loc is used for label-based indexing in Pandas.
# When you pass a Boolean Series inside , it filters the rows.
# Only rows where the condition is True are returned.

# This selects the column named seller_city from the DataFrame.
# The result is a Pandas Series containing all the values in that column.

# isnull checks each value in the  column.
# It returns True if the value is missing (), and False otherwise.

seller.loc[seller['seller_city'].isnull()]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
1117,16bdc8cefd0e32a6f0824d296c5ad14a,12903,NaN,NaN
1159,89dda63a3c907c468ec88c310ed91213,9380,NaN,NaN
1246,2156f2671501a81034d7d07f217609d0,4776,NaN,NaN
1289,a3b0df0065e264a91b7bbf5f844af5cd,9721,NaN,NaN
1337,720e6cf846ea7572cbb66b743fb91e6c,8717,NaN,NaN
1346,cf1313c6e2c01c2f4b014f97db4bcd2b,22050,NaN,NaN
1380,aae5e7b457a3c72ee230a47d98fceda5,83040,NaN,NaN
1447,fe9d9cf8631285d5982c6e2cf27fb114,36200,NaN,NaN
1492,06532f10282704ef4c69168b914b77be,87140,NaN,NaN
1516,4e42581f08e8cfc7c090f930bac4552a,13660,NaN,NaN
1580,8090490573c6c0aa343a7231ebcb8c86,4130,NaN,NaN
1585,880ce4951cf857ab1d9e0b75c1d856f4,31255,NaN,NaN
1595,e1bed63d68ac36fe1f3061befe196af5,13848,NaN,NaN
1610,20cb7c2fde3e5bf10f0bbe7394e1c6a9,86385,NaN,NaN
1638,6e85dc5ecd97a61094b89b046a509d8e,15845,NaN,NaN
1644,c13ef0cfbe42f190780f621ce81f2234,1207,NaN,NaN
1647,17a053fcb14bd219540cbde0df490be0,13843,NaN,NaN
1649,d79e8478eed9999493990b44955fb22e,20081,NaN,NaN
1666,ca4b77513ac2040591b0d8fae6958380,9190,NaN,NaN
1686,c963a25b8671419c6ce9eebe8fd03218,23943,NaN,NaN
1705,ea566164622c6b439516ab18062c42cd,5303,NaN,NaN
1712,6025c79c035c3d772133b8b8238463b2,83327,NaN,NaN
1728,98115075dd26cb8835946fc6086f5d30,9687,NaN,NaN
1755,2c538755f1ca9540af144f266e70df6c,39801,NaN,NaN
1814,da4d149c0ddbac90557103ac0a0ec356,9861,NaN,NaN
1889,1de62b6f2fd96227629786db492433db,16021,NaN,NaN
1897,b64d51f0435e884e8de603b1655155ae,7077,NaN,NaN
1920,01fd077212124329bac32490e8ef80d9,14079,NaN,NaN
1937,28fb0829fd777877cdc350d25cb5bd5b,15051,NaN,NaN
1985,c35affa65afd250151285c5917fc1c8a,8050,NaN,NaN
2006,eb5b6204dde3a6e03b5f1bb8479f055b,6900,NaN,NaN
2067,c8143b3069f6746a77421b5ce30a450c,75345,NaN,NaN
2122,a5259c149128e82c9d6d46e0c1c812bb,76900,NaN,NaN
2162,a1bea7061f61f6fdd9a85a6325ba1033,6311,NaN,NaN
2183,d5c530f4884a75ae0dba9c148718d278,35660,NaN,NaN
2258,4b5f66b7adcf57f1ecc0d3c07dd6b177,87025,NaN,NaN
2263,6f1a1263039c76e68f40a8e536b1da6a,3581,NaN,NaN
2330,902c99f1ac505c0d18778b61bcd636f7,13840,NaN,NaN
2340,5dceca129747e92ff8ef7a997dc4f8ca,13450,NaN,NaN
2380,1703bc09972dab9782e7a9194943b69f,37165,NaN,NaN
2458,cecd97bc34ed8330bd4cd15713eda670,89819,NaN,NaN
2484,3078096983cf766a32a06257648502d1,13720,NaN,NaN
2536,0b18d63d0cd1d723567903fd34a07df2,5141,NaN,NaN
2573,8f2ce03f928b567e3d56181ae20ae952,5141,NaN,NaN
2589,3a52d63a8f9daf5a28f3626d7eb9bd28,71900,NaN,NaN
2592,6601ee6383e7f452be71929f8de48bbb,14027,NaN,NaN
2620,6a3139c7bf09ece22a4713d956acbe5e,13790,NaN,NaN
2649,24a6daf925d9d591870a66660416de31,14078,NaN,NaN
2662,3c487ae8f8d7542beff5788e2e0aea83,72460,NaN,NaN
2699,ed9eef5be0992d413d251fadba1a410d,13845,NaN,NaN
2723,c3e1abd72a42fe690fcd89cf5720fe29,13840,NaN,NaN
2890,8185694b58b2ba6de20fd41ae608bbea,6764,NaN,NaN
2946,06579cb253ecd5a3a12a9e6eb6bf8f47,4007,NaN,NaN
2985,74c7dec0a384d8a05950e629bd23bde9,13845,NaN,NaN
2988,f9eedec3129e8cc6b6429c42d0808c5b,22793,NaN,NaN
3015,7f5e4d5efad7e44b91115dd1decb65f3,12306,NaN,NaN
3026,17e34d8224d27a541263c4c64b11a56b,14085,NaN,NaN

In [28]:
seller.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,Alwal,Andhra Pradesh
1,d1b65fc7debc3361ea86b5f14c68d2e2,13023,Alwal,Andhra Pradesh
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,Badepalle,Andhra Pradesh
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,Akkarampalle,Andhra Pradesh
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,Koratla,Andhra Pradesh

In [29]:
# Data Cleaning

# Variable name has spaces , replace spaces with underscore
# Date type conversion
# Deduplication
# Missing value imputations

# DataFrames
# 1. customer 2. geo_location 3. order_item 4. order_payment 5. order_review_rating 6.order 7.product 8.seller

In [30]:
customer.columns

Index(['customer_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state'],
      dtype='object')

In [31]:
geo_location.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')

In [32]:
order_item.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [33]:
order_payment.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [34]:
order_review_rating.columns

Index(['review_id', 'order_id', 'review_score', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [35]:
order.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [36]:
product.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [37]:
seller.columns

Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')

In [38]:
#customer_replace_spaces = [col.replace(" ","_") for col in customer.columns]

In [39]:
#customer_replace_spaces.columns

In [40]:
# Consider transaction time period only for 1 year (between 01APR2012 and 31MAR2013)
# Period1: order_date>='01APR2012'  and order_date<='30SEP2012'
# Period2: order_date>='01OCT2012'  and order_date<='31MAR2013'

In [41]:
order.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [42]:
order.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,10/2/2017 10:56,10/2/2017 11:07,10/4/2017 19:55,10/10/2017 21:25,10/18/2017 0:00

In [43]:
order['order_purchase_timestamp'].max()

'9/9/2017 9:54'

In [44]:
order['order_purchase_timestamp'].min()

'1/1/2018 10:24'

In [45]:
#order['order_delivered_customer_date']=order['order_delivered_customer_date'].astype(str)

In [46]:
#order['order_delivered_customer_date'] = pd.to_datetime(order['order_delivered_customer_date'],format="%Y%m%d")

In [ ]:
# DataFrames
# 1. customer 2. geo_location 3. order_item 4. order_payment 5. order_review_rating 6.order 7.product 8.seller

In [ ]:
#- Period 1: Nov 2016  Oct 2017
#- Period 2: Nov 2017  Oct 2018
#- All metrics should be aggregated at the customer level across these periods

In [42]:
# Convert dates
order['order_purchase_timestamp'] = pd.to_datetime(order['order_purchase_timestamp'])

In [43]:
order.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date            object
dtype: object

In [45]:
# Filter for Nov 2016  Oct 2018
order_filter = (order['order_purchase_timestamp'] >= "2016-11-01") & (order['order_purchase_timestamp'] <= "2018-10-31")
order = order.loc[order_filter]

In [46]:
# Merge datasets
order_master = order.merge(order_item, on="order_id") \
           .merge(product, on="product_id") \
           .merge(customer, on="customer_id") \
           .merge(order_payment, on="order_id")

In [47]:
order_master.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'product_category_name',
       'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [54]:
# Aggregate at customer level
customer360 = order_master.groupby("customer_id").agg(
    first_date=("order_purchase_timestamp", "min"),
    recent_date=("order_purchase_timestamp", "max"),
    no_baskets=("order_purchase_timestamp", "nunique"),
    sale_amount=("payment_value", "sum"),
    no_prds=("product_id", "nunique")
).reset_index()

In [55]:
customer360.columns

Index(['customer_id', 'first_date', 'recent_date', 'no_baskets', 'sale_amount',
       'no_prds'],
      dtype='object')

In [56]:
# Flags
customer360["buyer_flag"] = customer360["no_baskets"].apply(lambda x: "One_time Buyer" if x == 1 else "Repeat Buyer")

In [57]:
customer360.columns

Index(['customer_id', 'first_date', 'recent_date', 'no_baskets', 'sale_amount',
       'no_prds', 'buyer_flag'],
      dtype='object')

In [66]:
customer360.head(1)

,customer_id,first_date,recent_date,no_baskets,sale_amount,no_prds,buyer_flag,sale_amount_p1,sale_amount_p2,CustomerSegment,Recency,Frequency,Monetary,churn_flag,RFM_Segment
0,00012a2ce6f8dcda20d059ce98491703,2017-11-14 16:08:00,2017-11-14 16:08:00,1,114.74,1,One_time Buyer,0.0,114.74,New,350,1,114.74,0,Others

In [59]:
# Define periods
period1_filter = (order_master['order_purchase_timestamp'] >= "2016-11-01") & (order_master['order_purchase_timestamp'] <= "2017-10-31")
period2_filter = (order_master['order_purchase_timestamp'] >= "2017-11-01") & (order_master['order_purchase_timestamp'] <= "2018-10-31")

# Period revenues
p1 = order_master.loc[period1_filter].groupby("customer_id")["payment_value"].sum().rename("sale_amount_p1")
p2 = order_master.loc[period2_filter].groupby("customer_id")["payment_value"].sum().rename("sale_amount_p2")

# Merge back
customer360 = customer360.merge(p1, on="customer_id", how="left").merge(p2, on="customer_id", how="left").fillna(0)

# Customer Segment
def segment(row):
    if row['sale_amount_p1'] == 0 and row['sale_amount_p2'] > 0:
        return "New"
    elif row['sale_amount_p1'] > 0 and row['sale_amount_p2'] == 0:
        return "Churner"
    elif row['sale_amount_p2'] > row['sale_amount_p1']:
        return "UpwardMigrator"
    elif row['sale_amount_p1'] > row['sale_amount_p2']:
        return "DownwardMigrator"
    else:
        return "Stable"

customer360["CustomerSegment"] = customer360.apply(segment, axis=1)

In [60]:
customer360.columns

Index(['customer_id', 'first_date', 'recent_date', 'no_baskets', 'sale_amount',
       'no_prds', 'buyer_flag', 'sale_amount_p1', 'sale_amount_p2',
       'CustomerSegment'],
      dtype='object')

In [ ]:
#- Recency: recent_date - first_date
#- Frequency: no_baskets (distinct order dates)
#- Monetary: sale_amount (sum of payments)
#- Margin: sale_amount - cost_amount
#- Category penetration: baskets containing category  total baskets
#- Flags:
#- buyer_flag (one-time vs repeat)
#- redeem_flag (points redeemed)
#- Promo_seeker_flag (based on promo % thresholds)
#- CustomerSegment (New, Churner, Upward Migrator, Downward Migrator)

In [65]:
# Recency, Frequency, Monetary
customer360["Recency"] = (pd.to_datetime("2018-10-31") - customer360["recent_date"]).dt.days
customer360["Frequency"] = customer360["no_baskets"]
customer360["Monetary"] = customer360["sale_amount"]

# Simple heuristic segmentation
def rfm_segment(row):
    if row["Recency"] < 90 and row["Frequency"] > 5 and row["Monetary"] > 1000:
        return "Best Customers"
    elif row["Recency"] < 180 and row["Frequency"] > 3:
        return "Loyal Customers"
    elif row["churn_flag"] == 1:
        return "Churned"
    else:
        return "Others"

customer360["RFM_Segment"] = customer360.apply(rfm_segment, axis=1)

In [ ]:
#- Regression:
#- Predict customer_value (total revenue) using features like frequency, margin, category penetration.
#- Model: Linear Regression.
#- Classification:
#- Predict churn_flag (churn vs active).
#- Predict high_spender_flag.
#- Model: Logistic Regression.
#- Segmentation:
#- Heuristic segmentation using RFM (Recency, Frequency, Monetary).
#- Value-based segmentation (Deciles).
#- Loyalty segmentation (Promo-seeker vs Non-promo-seeker).

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = customer360[["no_baskets", "no_prds"]]
y = customer360["sale_amount"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lr = LinearRegression()
lr.fit(X_train, y_train)

print("Regression R^2:", lr.score(X_test, y_test))

Regression R^2: 0.011548798872436095

In [63]:
from sklearn.linear_model import LogisticRegression

customer360["churn_flag"] = customer360["CustomerSegment"].apply(lambda x: 1 if x=="Churner" else 0)

X = customer360[["no_baskets", "sale_amount_p1", "sale_amount_p2"]]
y = customer360["churn_flag"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

logr = LogisticRegression(max_iter=1000)
logr.fit(X_train, y_train)

print("Classification Accuracy:", logr.score(X_test, y_test))

Classification Accuracy: 1.0

In [64]:
customer360.columns

Index(['customer_id', 'first_date', 'recent_date', 'no_baskets', 'sale_amount',
       'no_prds', 'buyer_flag', 'sale_amount_p1', 'sale_amount_p2',
       'CustomerSegment', 'Recency', 'Frequency', 'Monetary', 'churn_flag'],
      dtype='object')

In [68]:
customer360.head()

,customer_id,first_date,recent_date,no_baskets,sale_amount,no_prds,buyer_flag,sale_amount_p1,sale_amount_p2,CustomerSegment,Recency,Frequency,Monetary,churn_flag,RFM_Segment
0,00012a2ce6f8dcda20d059ce98491703,2017-11-14 16:08:00,2017-11-14 16:08:00,1,114.74,1,One_time Buyer,0.00,114.74,New,350,1,114.74,0,Others
1,000161a058600d5901f007fab4c27140,2017-07-16 09:40:00,2017-07-16 09:40:00,1,67.41,1,One_time Buyer,67.41,0.00,Churner,471,1,67.41,1,Churned
2,0001fd6190edaaf884bcaf3d49edf079,2017-02-28 11:06:00,2017-02-28 11:06:00,1,195.42,1,One_time Buyer,195.42,0.00,Churner,609,1,195.42,1,Churned
3,0002414f95344307404f0ace7a26f1d5,2017-08-16 13:09:00,2017-08-16 13:09:00,1,179.35,1,One_time Buyer,179.35,0.00,Churner,440,1,179.35,1,Churned
4,000379cdec625522490c315e70c7a9fb,2018-04-02 13:42:00,2018-04-02 13:42:00,1,107.01,1,One_time Buyer,0.00,107.01,New,211,1,107.01,0,Others

In [ ]:
#- Cleans and filters data.
#- Aggregates into Customer360.
#- Splits into Period1 & Period2.
#- Builds regression, classification, and segmentation models.